.upload-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px;
}

.upload-box {
  align-items: center;
  width: 600px;
  background-color: #18d2c2;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upload-title {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}

.upload-subtitle {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.file-input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.upload-button {
  margin-top: 10px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #f3ed40;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.upload-button:hover {
  background-color: #e6df38;
}

.extracted-text {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 8px;
  max-height: 300px;
  overflow-y: auto;
}
